  
  body{
    margin: 0;
    padding: 0;
  }
.margen-color {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
  }
  .parte-superior {
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
  }
