body {
    background-color: rgb(255, 255, 255);
    margin: 0;

}

.contenedor {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: grid;
}

/*logo*/
.cabecera {
    grid-area: miAreac;
    background-image: url("../img/logo_560.jpg");
    background-repeat: no-repeat;
    background-position: top left;
}

/*menu pagina web*/
.navegacion {
    display: block;
    grid-area: miArea;
}

.navegacion ul li {
    display: inline;
    margin-left: 5%;
    text-align: center;
}

.navegacion ul li a {
    font-weight: bold;
    text-decoration: none;
    font-family: 'Calligraffitti', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', sans-serif;
    color: black;
    margin-top: 0;
    align-content: center;
    vertical-align: top;
}

.navegacion ul li a:hover,
.submenu3 a:hover,
.submenu4 a:hover,
.submenu5 a:hover,
.submenu6 a:hover {
    color: rgb(125, 125, 125);
}

.navegacion a :visited,
.submenu3 a:visited,
.submenu4 a:visited,
.submenu5 a:visited,
.submenu6 a:visited {
    text-decoration: none;
}

/*Menú*/
.submenu3 {
    grid-area: miArea3;
    text-align: center;
    vertical-align: middle;
}

.submenu4 {
    grid-area: miArea4;
    text-align: center;
    vertical-align: middle;
}

.submenu5 {
    grid-area: miArea5;
    text-align: center;
    vertical-align: middle;

}

.submenu6 {
    grid-area: miArea6;
    text-align: center;
    vertical-align: middle;
}

.submenu3 a,
.submenu4 a,
.submenu5 a,
.submenu6 a {
    font-weight: lighter;
    text-decoration: none;
    font-family: 'Nunito', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(47, 47, 47);
    align-content: center;
}

/*título*/
.titulo {
    grid-area: miArea2;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Calligraffitti', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  line-height: 0;
    color: black;
    margin-top: 0;

}


/*imágenes*/
.submenu8 {
    grid-area: miArea8;
    background-image: url("../img/menu-trago-02.jpg");
    background-position: top center;
    background-size: auto 100%;
    background-repeat: no-repeat;

}

.submenu9 {
    grid-area: miArea9;
    background-image: url("../img/menu-cafe.jpg");
    background-position: top center;
    background-size: auto 100%;
    background-repeat: no-repeat;

}

.submenu10 {
    grid-area: miArea10;
    background-image: url("../img/menu-mila.jpg");
    background-position: top center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.submenu11 {
    grid-area: miArea11;
    background-image: url("../img/menu-playa.jpg");
    background-position: top center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

/*footer*/
.pie {
    grid-area: miArea7;
    text-align: center;
    font-family: 'Nunito', 'Calibri', 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 1vw;
    color: black;
    align-content: center;
}

.pie img {
    vertical-align: middle;
}

.pie img:hover {
    scale: 120%;
    opacity: 50%;
}

.transparente {
    cursor: pointer;
    fill-opacity: 0%;
    border: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
}



/*corte pantalla celular ------------------------------------------------------------------------*/
@media screen and (max-width: 600px) {
    .contenedor {
        gap: 10px;
        /*para darse cuenta cuando cambia pantalla
         background-color: rgb(240, 228, 5);*/
        max-width: 1000px;
        grid-template-areas: 'miArea miArea'
            'miAreac miAreac'
            'miArea2 miArea2'
            'miArea3 miArea4'
            'miArea5 miArea6'
            'miArea8 miArea9'
            'miArea10 miArea11'
            'miArea7 miArea7';
        grid-template-columns: 50% 50%;
        grid-template-rows: 5vh 20vh 10vh 10vh 10vh 15vh 15vh auto;

    }

    /*menu pagina web*/
    .navegacion ul li a {
        font-size: 3vw;

    }

    /*logo*/
    .cabecera {
        background-position: center;
        background-size: 30vw;
        opacity: 50%;
    }

    /**/
    .titulo {
        font-size: 6vw;
    }

    /**/
    .contenido {
        display: inline-flex;
        width: 100%;
    }

    /*Fotos*/

    .submenu8 {
        background-image: url("../img/menu1_small.jpg");
        background-position: center;
        background-size: 100% auto;

    }

    .submenu9 {
        background-image: url("../img/menu2_small.jpg");
        background-position: center;
        background-size: 100% auto;


    }

    .submenu10 {
        background-image: url("../img/menu3_small.jpg");
        background-position: center;
        background-size: 100% auto;
    }

    .submenu11 {
        background-image: url("../img/menu4_small.jpg");
        background-position: center;
        background-size: 100% auto;
    }

    .submenu3 a,
    .submenu4 a,
    .submenu5 a,
    .submenu6 a {
        font-size: 4vw;
        line-height: 10vw;

    }

    /*footer*/
    .pie {
        font-size: 3vw;
    }

    .pie img {
        width: 3vw;
        margin: 5px;
    }


}

/*pantalla media para tablet o monitores ------------------------------------------------*/
@media screen and (min-width: 601px) {

   .contenedor {
        max-width: 1000px;
        grid-template-areas: 'miAreac miArea miArea miArea'
            'miAreac miArea2 miArea2 miArea2'
            'miArea3 miArea4 miArea5  miArea6'
            'miArea8 miArea9 miArea10  miArea11'
            'miArea7 miArea7  miArea7  miArea7';
        grid-template-columns: 30% 20% 30% 20%;
        grid-template-rows: 10vh 15vh 10vh 40vh auto;
        gap: 0px;
    }

    .cabecera {
        background-size: 50%;
        margin-left: 15px;
    }

    .navegacion {
        display: inline;
    }

    .navegacion ul li {
       margin-left: 10%;
    }

    .navegacion ul li a {
        font-size: 1.5vw;
    }

    .titulo {
        margin-top: 0;
        font-size: 3vw;
    }

    .contenido {
        display: inline-flex;
        width: 100%;
    }

    .submenu8 {
        background-position: top center;
        background-size: auto 100%;
          }

    .submenu9 {
        background-position: top center;
        background-size: auto 100%;
    }

    .submenu10 {
             background-position: top center;
        background-size: auto 100%;
    }

    .submenu11 {
        background-position: top center;
        background-size: auto 100%;
    }

    .submenu3 a,
    .submenu4 a,
    .submenu5 a,
    .submenu6 a {
        font-size: 2.5vw;
    }

    /*footer*/
    .pie {
        font-size: 2vw;
    }

    .pie img {
        width: 2vw;
        margin: 5px;
    }
}



/*pantalla grande pc --------------------------------------------------------------*/
@media only screen and (min-width: 1000px) {

    .contenedor {
        /*para darse cuenta cuando cambia pantalla*/
        /*background-color: aquamarine; */
        max-width: 1280px;
        grid-template-areas: 'miAreac miArea miArea miArea'
            'miAreac miArea2 miArea2 miArea2'
            'miArea3 miArea4 miArea5  miArea6'
            'miArea8 miArea9 miArea10  miArea11'
            'miArea7 miArea7  miArea7  miArea7';
        grid-template-columns: 30% 20% 30% 20%;
        gap: 0px;
        grid-template-rows: 10vh 15vh 15vh 55vh auto;

    }

    .cabecera {
        margin-left: 15px;
        background-size: 50%;
    }

    .navegacion {
        display: inline;
    }

    .navegacion ul li {
        margin-left: 10%;
    }

    .navegacion ul li a {
        font-size: 1vw;
    }

    .titulo {
        font-size: 3vw;
     
    }

    .contenido {
        display: inline-flex;
        width: 100%;
    }


    .submenu8 {
        background-position: top center;
        background-size: auto 100%;
    }

    .submenu9 {
        background-position: top center;
        background-size: auto 100%;
    }

    .submenu10 {
         background-position: top center;
        background-size: auto 100%;
    }

    .submenu11 {
     background-position: top center;
        background-size: auto 100%;
    }

    /*Menú*/
    .submenu3 a,
    .submenu4 a,
    .submenu5 a,
    .submenu6 a {
        font-size: 2vw;
    }

    /*footer*/
    .pie {
        font-size: 1vw;
    }

    .pie img {
        width: 1.5vw;
        margin: 5px;
    }

}