* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    background-image:linear-gradient(to bottom, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 0.5) 100%), url('../img/logo_561.jpg');
    background-size: 30%;
    background-repeat:no-repeat

}

.logo {
    grid-area: logo;
    text-align: center;
    padding: 10%;
}

.formulario {
    grid-area: formulario;
}

.mapa {
    grid-area: mapa;
}

.mensaje {
    grid-area: mensaje;
}

.imagen {
    grid-area: imagen;
    width: 100%;
}

.imagen img {
    width: 100%;
    margin-left: 0%;
    text-align: left;
    margin-top: 20%;
}

.contacto {
    display: grid;
    grid-template-areas: 'logo logo imagen imagen'
        'formulario mapa imagen imagen'
        'mensaje mensaje imagen imagen';
    grid-template-columns: 20% 20% 20% 20%;
    margin-left: 10%;
    gap: 4%;
}

.logo h2 {
    display: inline;
    font-family: 'Calligraffitti';
    font-size: 5vw;

    ;
}

.logo img {
    width: 20%;
    margin-top: 10%;
}

form label {
    display: block;
    padding: 5% 0%;
    font-size: 1.3vw;
    width: 100%;
}

form input {
    display: block;
    padding: 5%;
    width: 100%;
}

#soycliente {
    display: inline;

}

.mapa iframe {
    width: 100%;
    height: 100%;
}

.mensaje textarea {
    width: 100%;
    height: auto;

}

.mensaje label {
    padding: 5%;
}