* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    width: 100%;
}

header {
    text-align: right;
    width: 80%;
    margin: 3% 10%;
    padding: 1%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

main {
    width: 95%;
}

header a {
    text-decoration: none;
    font-size: 1vw;
    color: black;
    font-weight: bolder;

}

.miPedido {
    grid-area: area1;
    margin: auto;
    background-color: black;
    width: 25%;
    border-radius: 10px;
    border-color: #bbbbbb;
    border-width: 3px;
}

h1 img {
    width: 60%;
}

h1 {
    text-align: center;
    width: 100%;
}

.miPedido a {
    text-align: center;
}

.logo {
    grid-area: area2;
}

.navegacion {
    grid-area: area3;
    margin-bottom: 10%;
}

nav ul {
    text-align: center;
    width: auto;
}

.imagen {
    grid-area: area4;
}

.contenedor {
    display: grid;
    grid-template-areas: 'area1 area4'
        'area2 area4'
        'area3 area4';
    grid-template-columns: 50% 50%;
    margin-top: 1%;
    width: 100%;
}

.miPedido a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Calligraffitti';
    font-weight: bold;
    font-size: 2vw;
}

.navegacion li {
    display: inline;
}

.navegacion a {
    font-weight: bold;
    text-decoration: none;
    font-family: 'Calligraffitti';
    font-size: 2vw;
    margin-right: 5%;
    color: black;
}

footer {
    margin: 3% 10%;
    width: 80%;
    margin: 3% 10%;
    padding: 1%;
    border-top-style: solid;
    border-bottom-width: 2px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*  text-align: center; font-weight: bold;*/
    text-decoration: none;
    font-size: 1vw;
    color: black;
    align-content: center;
}

footer img {
    width: 1.5vw;
    margin: 5px;
    vertical-align: middle;
}

footer img:hover {
    opacity: 50%;
    scale: 120%;
}

@media only screen and (max-width:600px) {
    .contenedor {
        display: grid;
        grid-template-areas: 'area1'
            'area2'
            'area3'
            'area4';
        grid-template-columns: 100%;
        margin-top: 1%;
        width: 100%;
    }

    .navegacion a {
        font-weight: bold;
        text-decoration: none;
        font-family: 'Calligraffitti';
        font-size: 5vw;
        margin-right: 5%;
        color: black;
    }
    header a{
        font-size: 2vw;
    }
    .miPedido a {
        color: white;
        text-align: center;
        vertical-align: center;
        text-decoration: none;
        font-family: 'Calligraffitti';
        font-weight: bold;
        font-size: 4vw;
    }

    footer span{
        font-size: 2.5vw;

    }

    footer img {
        width: 3vw;
    }

}