<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directiva v-for</title>
</head>
<body>
    <div id="ejemplo">
        <h1>{{titulo}}</h1>
        <h3>Lista de compras</h3>
        <ul>
            <li v-for="prod in productos"> {{prod}}</li>
        </ul>
        <h3>Lista de productos</h3>
        <table border="1">
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
            </tr>
            <tr v-for="prod in productos2">
                <td>{{prod.nombre}}</td>
                <td>{{prod.cantidad}}</td>
            </tr>
        </table>
        
    </div>

    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="v-for.js"></script>
</body>
</html>