*{font-family: Verdana;}
.codigo {
    font-family: 'Courier New';
    background-color: lightblue;
    font-weight: bold;
}

/*containerh: Es el elemento padre que tendrá en su interior cada uno de los ítems flexibles. */
.flex-containerh {
    display:flex;   /* Esta propiedad define al div como contenedor flex*/
    flex-direction: row;
    flex-wrap: wrap; /*No olvidar! (permite el "desbordamiento") */
    background-color: lightblue;
    height: 200px;  /*Le damos espacio al contenedor para que el contenido fluya en su interior */
}

/*Cada uno de los hijos flexibles que tendrá el contenedor horizontal en su interior. */
.flex-containerh > div {  /*Utilizamos selectores avanzados en lugar de clases */
    color: white;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

.alignself-start{align-self: flex-start;}
.alignself-end{align-self: flex-end;}
.alignself-center{align-self: center;}
.alignself-stretch{align-self: stretch;}
.alignself-baseline{align-self: baseline;}
#destacado{background-color: olive;}

#firma{
    text-align: right;
    color: blue;
}   