<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventario</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="estilos2.css">
</head>

<body>
  <div id="app">
    <div class="cabecera"><img src="Logo_Buenavista_B.png" alt="Logo de Restaurante Buena Vista"></div>
    <h3>Su pedido</h3>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Pedido</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <tr v-for="producto in productos" :key="producto.codigo">
            <td>{{ producto.codigo }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td align="right">{{ producto.cantidad }}</td>
            <td align="right">&nbsp; &nbsp; {{ producto.precio }}</td>
            <td>
              <button @click="agregarAlPedido(producto)" class="btn-mym btn-verde">&nbsp;&nbsp;<b class="a">+</b>&nbsp;&nbsp;</button>
              <button @click="restarDelPedido(producto)" class="btn-mym btn-rojo">&nbsp;&nbsp;<b class="a">-</b>&nbsp;&nbsp;</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div v-if="mostrarPedido">
      <h3>Productos en el pedido:</h3>
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Cantidad</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody class="tbody">
            <tr v-for="item in pedido" :key="item.codigo">
              <td>{{ item.codigo }}</td>
              <td>{{ item.nombre }}</td>
              <td>{{ item.descripcion }}</td>
              <td align="right">{{ item.cantidad }}</td>
              <td align="right">&nbsp; &nbsp; {{ item.precio }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div v-if="!mostrarPedido" class="contenedor-centrado">
      <button @click="obtenerPedido" class="btn btn-verde">Mostrar pedido</button>
    </div>

    <div class="contenedor-centrado">
      <a href="menuprincipal.html" class="amenu">Menu principal</a>
    </div>

  </div>

  <script>
    //const URL = "http://127.0.0.1:5000/"
    const URL = "https://grupocodo15.pythonanywhere.com/"

    const app = Vue.createApp({
      data() {
        return {
          productos: [],
          mostrarPedido: false,
          pedido: [],
        }
      },
      created() {
        this.obtenerProductos()
      },
      methods: {
        obtenerProductos() {
          fetch(URL + 'productos')
            .then(response => response.json())
            .then(data => {
              this.productos = data
            })
            .catch(error => {
              console.error(URL + 'productos', error)
              alert('Error al obtener los productos.')
            })
        },
        agregarAlPedido(producto) {
          fetch(URL + 'pedido', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              codigo: producto.codigo,
              cantidad: 1, // Agregamos una unidad al pedido
            }),
          })
            .then(response => response.json())
            .then(data => {
              alert(data.message)
            })
            .catch(error => {
              console.error('Error al agregar el producto al pedido:', error)
              alert('Error al agregar el producto al pedido.')
            })
        },
        restarDelPedido(producto) {
          fetch(URL + 'pedido', {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              codigo: producto.codigo,
              cantidad: 1, // Restamos una unidad del pedido
            }),
          })
            .then(response => response.json())
            .then(data => {
              alert(data.message)
            })
            .catch(error => {
              console.error('Error al restar el producto del pedido:', error)
              alert('Error al restar el producto del pedido.')
            })
        },
        obtenerPedido() {
          fetch(URL + 'pedido')
            .then(response => response.json())
            .then(data => {
              this.pedido = data
              this.mostrarPedido = true
            })
            .catch(error => {
              console.error('Error al obtener el pedido:', error)
              alert('Error al obtener el pedido.')
            })
        },
      },
    })
    app.mount('#app')
  </script>
</body>

</html>