<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Calligraffitti">
    <link rel="stylesheet" href="css/estilopedido.css">
    <title>Pedidos de Restaurante</title>

</head>

<body>
    <header>
        <div class="pedido">
            <h1>Mi pedido</h1>
        </div>
        <a href="usuario.html">Mi cuenta</a>

    </header>
    <main>
        <div id="app">
            <h2>Pedido de Restaurante</h2>
            <form class="formulario" @submit.prevent="submitForm">
                <label for="product">Producto:</label>
                <select id="product" v-model="selectedProduct">
                    <option v-for="product in products" :value="product">{{ product }}</option>
                </select>

                <label for="name">A nombre de:</label>
                <input id="name" type="text" v-model="customerName">

                <button type="submit">Realizar Pedido</button>
            </form>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                products: ['Producto 1', 'Producto 2', 'Producto 3'], // Ejemplo de lista de productos
                selectedProduct: '',
                customerName: ''
            },
            methods: {
                submitForm() {
                    // Aquí puedes enviar el pedido al servidor o hacer cualquier otra acción necesaria
                    console.log('Producto seleccionado:', this.selectedProduct);
                    console.log('Nombre del cliente:', this.customerName);
                }
            }
        });
    </script>
</body>

</html>