*{font-family: Verdana;}
.border-1{
    border: 1px solid red;
}
.border-2{
    border-top: 2px solid blue;
    border-bottom: 3px solid green;
}
.border-3{
    border-top: 10px dotted pink;
    border-bottom: 5px dashed violet;
}
.border-4{
    border-style: double groove;
    border-width: 15px 20px;
    border-color: red orange;
}
.border-5{
    border-color: red blue green;
    border-width: 2px 10px 5px;
    border-style: solid double solid;
}
.borde-redondeado{
    border-radius: 5px;
    border: 2px solid navy;
}
.borde-redondeado-2{
    border-radius: 25px 10px;
    border: 2px solid darkmagenta;
}
.borde-redondeado-3{
    border-radius: 0px 15px 15px 0px;
    border: 4px dotted darkred;
}