*{font-family: Verdana;}
.contenedor {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    /* Ver líneas de rejilla */
}

.caja {
    background-color: slateblue;
    padding: 10px;
    color: white;
    text-align: center;
}

.caja1 {
    grid-column: 1 / 6; /*Desde la línea 1 hasta la 6 de ancho*/
    background-color:navy;
}
.caja2 {
    grid-row: 2 / 5; /*Desde la línea 2 hasta la 5 inclusive en alto*/
    background-color:darkgreen;
}
.caja3{
    grid-row: 5 / span 4; /* Desde la fila 5, ocupa 4 filas*/
    background-color:indigo;
}
.caja4{
    grid-column: 2 / span 3; /* Desde la columna 2, ocupa 3 columnas*/
    background-color:orange;
}
.caja5{
    grid-column: 2 / 5; /*Desde la línea 2 hasta la 5 inclusive de ancho*/
    grid-row: 5 / 7; /*Desde la línea 5 hasta la 7 inclusive en alto*/
    background-color:tomato;
}
/* Más ejemplos en: https://www.w3schools.com/css/css_grid_item.asp*/
