/*----------- PSEUDOELEMENTOS --------------*/
/* p::first-letter{color:blue;font-size: 35px;} */

/* p::first-line{background-color: lightgreen;} */

/* p::selection{background-color: lightsalmon;} */

/* p::before{ content:"✨";}
p::after{ content:"🙉";} */
/*Los emojis pueden encontrarse en https://emojipedia.org/*/