<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar producto</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        form {
            max-width: 600px;
            margin: auto;
        }

        .field {
            display: flex;
            flex-flow: row nowrap;
            margin-bottom: 1em;
            align-items: center;
        }

        .field label {
            flex: 1 0 120px;
        }

        .field input {
            flex: 2 0 200px;
        }

        .field input[type="submit"] {
            width: auto;
        }
    </style>
</head>

<body>
    <h1>Agregar Producto al Inventario</h1>
    <form id="formulario">
        <div class="field">
            <label for="codigo">Código:</label>
            <input type="text" id="codigo" name="codigo" required>
        </div>

        <div class="field">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>

        <div class="field">
            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion" required>
        </div>

        <div class="field">
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" required>
        </div>

        <div class="field">
            <label for="precio">Precio:</label>
            <input type="number" step="0.01" id="precio" name="precio" required>
        </div>

        <div class="field">
            <input type="submit" value="Agregar Producto">
        </div>
    </form>

    <script>
        document.getElementById('formulario').addEventListener('submit', function (event) {
            event.preventDefault();

            var codigo = document.getElementById('codigo').value;
            var nombre = document.getElementById('nombre').value;
            var descripcion = document.getElementById('descripcion').value;
            var cantidad = document.getElementById('cantidad').value;
            var precio = document.getElementById('precio').value;

            var producto = {
                codigo: codigo,
                nombre: nombre,
                descripcion: descripcion,
                cantidad: cantidad,
                precio: precio
            };
            // aca se pode el url de post del anywhere
            var url = 'http://127.0.0.1:5000/agregar_producto';
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(producto)
            })
                .then(function (response) {
                    if (response.ok) {
                        return response.json();
                    } else {
                        return response.json().then(err => { throw new Error(err.message); });
                    }
                })
                .then(function (data) {
                    alert('Producto agregado correctamente.');
                })
                .catch(function (error) {
                    console.log('Error:', error);
                    alert('Error al agregar el producto.');
                });
        });
    </script>

</body>

</html>