/*Selector universal*/
*{
    background-color: lightgreen;
    font-family: Verdana;
}
/*Selectores de etiqueta*/
h1{
    color: white;
    background-color: red;
    padding: 10px;
}
h2{
    color: whblueite;
    background-color: lightblue;
    margin-left: 20px;
}
p{
    background-color: lightcoral;
    font-family: Arial;
    font-size: 20px;
}

/*Selectores de clase*/
.parrafo{
    font-family: 'Comic Sans MS';
    font-weight: bold;
    background-color: lightskyblue;
}

/* Selectores de ID */
#recordatorio{
    text-align: center;
    border: 2px red solid;
    color: red;
    padding: 10px;
}