html {
    font-size: 62.5%;
}

@-moz-keyframes changeColor {
    0% {
        background: red;
    }
    /* Primer fotograma */
    50% {
        background: yellow;
        width: 40rem;
    }
    /* Último fotograma */
    100% {
        background: green;
    }
}

@-ms-keyframes changeColor {
    0% {
        background: red;
    }
    /* Primer fotograma */
    50% {
        background: yellow;
        width: 40rem;
    }
    /* Último fotograma */
    100% {
        background: green;
    }
}

@-webkit-keyframes changeColor {
    0% {
        background: red;
    }
    /* Primer fotograma */
    50% {
        background: yellow;
        width: 40rem;
    }
    /* Último fotograma */
    100% {
        background: green;
    }
}

@-o-keyframes changeColor {
    0% {
        background: red;
    }
    /* Primer fotograma */
    50% {
        background: yellow;
        width: 40rem;
    }
    /* Último fotograma */
    100% {
        background: green;
    }
}

@keyframes changeColor {
    0% {
        background: red;
    }
    /* Primer fotograma */
    50% {
        background: yellow;
        width: 40rem;
    }
    /* Último fotograma */
    100% {
        background: green;
    }
}

.anim {
    background: grey;
    color: #FFF;
    width: 15rem;
    height: 15rem;
    -webkit-animation: changeColor 5s linear infinite alternate;
    -moz-animation: changeColor 5s linear infinite alternate;
    -ms-animation: changeColor 5s linear infinite alternate;
    -o-animation: changeColor 5s linear infinite alternate;
    animation: changeColor 5s linear infinite alternate;
}

a{
    background-color: coral;
    color: black;
    font-weight: bold;
}

a:hover{
    background-color: purple;
    color: white;
/*  transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in; */
    transition: all 0.2s ease-in;
}

/* a:active{
    color: green;
    font-weight: bold
}

a::before {
    content: "«";
    color: #888;
}

a::after {
    content: "»";
    color: #888;
} */